[buildout]
extends =
    https://raw.githubusercontent.com/euphorie/Euphorie/14.0.1/versions.cfg
    https://raw.githubusercontent.com/EU-OSHA/oira.application.buildout/master/picked_versions.cfg
parts =
    sphinx
    theme
    instance
    zopepy

#allow-picked-versions = false
versions = versions
newest = false
#allow-hosts =
#    *.python.org
#    github.com
#    buildout.org

show-picked-versions = true

extensions += mr.developer
auto-checkout =
    Euphorie
    osha.oira
    pyrtf-ng
always-checkout = force

sources = sources

[sources]
osha.oira = git https://github.com/euphorie/osha.oira.git pushurl=git@github.com:euphorie/osha.oira.git branch=main
Euphorie =  git https://github.com/euphorie/Euphorie.git pushurl=git@github.com:euphorie/Euphorie.git branch=main
pyrtf-ng = git https://github.com/syslabcom/pyrtf-ng.git pushurl=git@github.com:syslabcom/pyrtf-ng.git

[versions]
Babel = 2.10.1
Jinja2 = 2.11.3
Markupsafe = 2.0.1
Pygments = 2.1.3
py = 1.4.31
sphinxcontrib-spelling = 3.0.0
sphinxcontrib-zopeext = 0.2.4
zodbpickle = 2.3
Pillow = 9.1.1

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
eggs =
    psycopg2
    osha.oira
zcml =
    osha.oira
    euphorie.deployment-meta
    euphorie.deployment
    euphorie.deployment-overrides

[theme]
recipe = zc.recipe.egg:eggs
eggs = cloud_sptheme

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
build = ${buildout:directory}/build
extra-paths =
    ${buildout:directory}/src/Euphorie
    ${buildout:directory}/src/osha.oira
eggs =
    cloud_sptheme
    Sphinx
    repoze.sphinx.autointerface
    pyenchant
    ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${sphinx:eggs}
interpreter = zopepy

